*{
    background-color: #1E1E1E;
}

body{ 
    font-family: sans-serif;
    font-size: 1em;
    color: #ffffff;
    margin: 0;
    justify-content: center;
    height: 100vh;

}
.textsidebar {
    list-style-type: none;
    background-color: #010B41;
  }

header {
    margin: 0; 
    max-height: 50px;
    height: 100%;
    background-color: #010B41;
}
#logo{
    padding: 0;
    margin: 0;
    
}
#perfilphoto{
    float: right;
    display: flex;
    border-radius: 9999px;
    box-sizing: inherit;
    background-color: #010B41;
}

#sidebar{
    float: left;
    height: 100%;
    background-color: #010B41;
    width: 10%;
}

ul{
    padding: 0;
    margin: 0;
}

.grupoLogin,.grupoCadastro{
    float:left;
    margin-right: 1em;

}

.botao{
    font-size: 1.2em;
    background:#5D646B ;
    border: 0;
    margin-bottom: 20%;
    color:#ffffff;
    padding: 0.2em 0.6em;
    box-shadow:2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position:absolute;
    top:90%;
    left: 50%;
    margin-right: -50%;
    transform:translate(-50%, -50%);
}
.botao:hover{
    background: #5D646B;
    box-shadow:2px 2px 2px rgba(0,0,0,0.2);
    text-shadow:none;
}

#buttonindex {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

main{
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
    max-height: max-content;
}

#blocovideo{
    display: inline-block;
    background-color: #ffffff;
    max-width: 204px;
    max-height: 264px;
    margin: 10px;

}

#conteudo{
    background-color: #ffffff;
    color: black;
}

#container{
    flex-basis: 100%;
}

#fotofoto{
    background-color: #010B41;
}

#logo{
    max-width: 200px;
    max-height: 50px;
    background-color: #010B41;
    float: left;
    margin-left: 40px;
}