*{
    background-color: #5D646B;
}

body{
    margin: 0;
}
li {
    list-style-type: none;
  }

header {
    margin: 0; 
    max-height: 50px;
    height: 50px;
}
#logo{
    padding: 0;
    margin: 0;
    
}
#perfilphoto{
    float: right;
    display: flex;
    position: relative;
    border-radius: 9999px;
    position: relative;
    box-sizing: inherit;
}

#sidebar{
    background-color: antiquewhite;
}

ul{
    padding: 5px;
}

